body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
  
  a {
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
  }
  ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
  img {
    display: block;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    
    margin: 0;
  }
  
  p {
    margin: 0;
  }

 
  .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }
    }



  /* header */
  .header {
    border-bottom: 1px solid #e7e9fc;}
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    padding: 17px 0;
  }
  
  .logo-web {
    color: #2e2f42;
  }

  .heder-address {
    font-style: normal;
    margin-left: auto;
    display: none;
  }
  .logomain {
    display: flex;
    align-items: center;
  }
  
  .main {
    display: none;
      }
  
  
 
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

    .open-menu-btn {
      padding: 0;
      line-height: 0;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }

   
    @media screen and (min-width: 768px) {
      
      .open-menu-btn {
        display: none;
      }
     
      .logo {
        margin-right: 120px;
      }

      .main {
        display: flex;
        gap: 12px;
      }

      .link-bar {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
    .current {
    position: relative;
    color: #404BBF;
    }
    
    .current::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      background-color: #404BBF;
    border-radius: 2px;
    width: 100%;
    height: 4px;
        }
    
      .link-bar:hover {
        color: #404bbf;
      }
      
      .link-bar:focus {
        color: #404bbf;
      }
      .heder-address {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .address-mail {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
      .address-mail:hover {
        color: #404bbf;}
      
      .address-mail:focus {
        color: #404bbf;}

        .list-address {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
    }

    @media screen and (min-width: 1158px) {
      .logo {
      margin-right: 76px;
      }
      .list-address {
        display: flex;
        flex-direction: row;
        gap: 40px;
      }
        .address-mail {
          font-size: 16px;
          line-height: 1.5;
        }
        }

  /* section */

  
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* section 1*/

  .section-one {
    /* padding: 188px 0; */
    /* margin: 0 auto; */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/Dark-bgd.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    display: flex;
    }
  
  .headline {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
  }
  
  .section-one-btn {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    margin-top: 48px;
    border: none;
  }
  
  .section-one-btn:hover {
    background-color: #404bbf;}
  
  .section-one-btn:focus {
    background-color: #404bbf;}
  
/* section 2*/

  .section-two {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}
  
  .ul-section-two {
    display: flex;
    gap: 24px; }
  
  .li-section-two {
   width: calc((100% - 72px) / 4);
   }
  .li-section-two-div {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  border-radius: 4px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

/* section 3*/
  .section-three {
    background: #f4f4fd;
  }
  
  .headline-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  
  .section-three-ul {
    display: flex;
    gap: 24px;
  }
  
  .section-three-li {
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    }
  
  .section-three-div {
    padding: 32px 0;
  }
  
.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
  width: 100%;
  height: 100%;
  }

.link-icon-cont {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.link-icon-li {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
}

.link-icon-li:hover {
  background-color: #404bbf;
}

.link-icon-li:focus {
  background-color: #404bbf;
}

.link-icon-li-icon {
  fill: #f4f4fd;
}

/* section 4*/
  .headline-four {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  
.section-four-im {
  position: relative;
  overflow: hidden;
}

.imtext {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-li:hover .imtext {
  transform: translateY(0);
}

.section-four-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .team-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
      }
  
  .title-adv {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .text-adv {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .team-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }
  
  .title-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .section-four-li {
        width: calc((100% - 48px) / 3);
        background: #fff;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
          0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);}
  
  .section-four-ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .section-four-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  
  /* footer */

  .footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
     }
  .footer_container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    
  }
  .footer_first_box {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    }
  .logo-end {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
  }
  .logo_color_end {
    color: #f4f4fd;
    margin-bottom: 16px;
  }
  .tagline {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    margin-bottom: 16px;
  }

  .footer_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    }

  .footer_block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }
  .footer_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer_link:hover {
    background-color: #31d0aa;
  }
  .footer_link:focus {
    background-color: #31d0aa;
  }

  .footer_form_box {
    margin-left: auto;
  }
  .form_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }
  .footer_form {
    display: flex;
    gap: 24px;
  }
  .footer_input {
    border: 1px solid #ffffff;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
  }
  .footer_input::placeholder {
    color: #ffffff;
  }
  .footer_form_btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
  }
  .footer-btn-icon {
    fill: #ffffff;
    margin-left: 16px;
  }
  
/* modal */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is_open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_btn:hover,
.modal_close_btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal_close_btn:hover > .modal_close_icon,
.modal_close_btn:focus > .modal_close_icon {
  fill: #ffffff;
}
.modal_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form_field {
  margin-bottom: 8px;
}
.form_label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form_label_wrap {
  position: relative;
}
.form_input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_input:focus {
  border-color: #4d5ae5;
}
.form_input:focus + .form_icons {
  fill: #4d5ae5;
}
.form_icons {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_field_text {
  margin-bottom: 16px;
}
.form_text_input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_text_input::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form_text_input:focus {
  border-color: #4d5ae5;
}
.form_field_checkbox {
  margin-bottom: 24px;
}
.modal_form_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_label_checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}
.form_label_span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_checkbox_input:checked + .form_label_checkbox > .form_label_span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal_link {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 5px;
}
